.calculator {
  margin-top: 20px;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top: 30px solid #ef9394;
}
