
.header {
display: flex;
flex-direction: column;
justify-content: center;
align-items:  flex-start;
flex-wrap: wrap;
align-content: center;
width:100%;

  h1,
  h2 {
    margin:-5px;
    font-size: 350%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }


}
